<ion-navbar *navbar primary>
  <ion-title>
    {{contacto.nombre}}
  </ion-title>
  <ion-buttons end primary>
    <button (click)="perfilcontacto(contacto)">
      <img *ngIf="contacto.foto" src="{{urlservice}}:9090/resouce/tuchat-{{contacto.usuario_id_esclavo}}.png" style="width:40px !important; height:40px !important; border-radius:50px;">
      <img *ngIf="!contacto.foto" src="img/code.png" style="width:40px !important; height:40px !important; border-radius:50px;">
    </button>
  </ion-buttons>
</ion-navbar>

<ion-toolbar style="min-height: 58px;" blanco class="padding">
  <div style="text-align:center !important;">
    <button danger style="border-radius:50px; width: 45px; height: 45px;" (click)="cargarFotosms()">
      <ion-icon style="font-size: 1.7em !important; " ios="ios-aperture" md="md-aperture"></ion-icon>
    </button>
    <button danger style="border-radius:50px; width: 45px; height: 45px;">
      <ion-icon style="font-size: 1.7em !important; " ios="ios-happy" md="md-happy"></ion-icon>
    </button>
  </div>
</ion-toolbar>

<ion-content class="padding">

  <div *ngFor="#mensaje of mensajes">
    <p *ngIf="mensaje.usuario_id_rey === contacto.usuario_id_esclavo"
      style="text-align:left !important; margin-left:15px; margin-right:40px;" primary (click)="infosms(mensaje)">
        <m *ngIf="mensaje.tipo === 'text'" class="globoChatEsclavo">
          {{mensaje.mensaje}}
        </m>
        <m *ngIf="mensaje.tipo === 'img'" class="globoChatEsclavoimg">
          <img style="width:70px; height:70px; border-radius:50px; padding-left: 2px; padding-top: 1px;" src="{{urlservice}}:9090/imgsms/{{mensaje.mensaje}}.png" />
        </m>
    </p>
    <p *ngIf="mensaje.usuario_id_rey === contacto.usuario_id_rey"
      style="text-align:right !important; margin-left:40px; margin-right:15px;" dark (click)="infosms(mensaje)">
        <m *ngIf="mensaje.tipo === 'text'" class="globoChatRey">
          {{mensaje.mensaje}}
        </m>
        <m *ngIf="mensaje.tipo === 'img'" class="globoChatReyimg">
          <img style="width:70px; height:70px; border-radius:50px; padding-right: 2px; padding-top: 1px;" src="{{urlservice}}:9090/imgsms/{{mensaje.mensaje}}.png" />
        </m>
    </p>
  </div>

  <div *ngIf="nohaymensaje">
    <ion-card>
        <ion-card-content style="text-align:center;">
          <ion-icon primary style="font-size: 2.0em !important; " name="md-chatbubbles"></ion-icon>
          <m style="color:blue;">No has iniciado una conversaciòn con {{contacto.nombre_usuario}}</m>
        </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<ion-toolbar blanco position="bottom">
  <ion-textarea style="background:#ffffff; margin: 23px 0px 19px -4px !important;
    padding: 3px 3px 3px 3px !important;" placeholder="escribele a {{contacto.nombre}}" [(ngModel)]="mensaje"></ion-textarea>
  <ion-buttons end *ngIf="mensaje">
    <button (click)="enviarmensaje()" style="border-radius: 50px !important; background: #f53d3d; width: 40px; height: 40px;">
      <ion-icon blanco style="font-size: 1.9em !important; padding-right: 5px;" ios="ios-paper-plane" md="md-paper-plane"></ion-icon>
    </button>
  </ion-buttons>
</ion-toolbar>
