<ion-navbar *navbar primary >
  <ion-title *ngIf="contacto.nombre_usuario">{{contacto.nombre_usuario}}</ion-title>
  <ion-title *ngIf="!contacto.nombre_usuario">{{contacto.nombre}}</ion-title>
  <ion-buttons end primary>
    <button (click)="eliminarcontacto(contacto)">
      <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

 <ion-content style="background-color: #5C6F91 !important;">

   <ion-card style="margin: 0px 0px 3px 0px !important; width: calc(100% - 0px) !important;">
     <img *ngIf="!contacto.foto" src="img/code.png"/>
     <img *ngIf="contacto.foto"  src="{{urlservice}}:9090/resouce/tuchat-{{contacto.usuario_id_esclavo}}.png"/>

     <ion-card-content>
       <h2 style="text-align:center;">{{contacto.nombre}}</h2>
       <div style="text-align:center !important;">
         <ion-badge *ngIf="contarcontcontacto">{{contarcontcontacto}}</ion-badge>
         <ion-badge *ngIf="!contarcontcontacto">0</ion-badge>
         <button style="border-radius:50px; width: 70px; height: 70px;">
           <ion-icon style="font-size: 2.3em !important;" ios="ios-contacts" md="md-contacts"></ion-icon>
         </button>
         <button  danger (click)="acualizarCorazon(contacto)" style="border-radius:50px; width: 70px; height: 70px;" >
           <ion-icon style="font-size: 2.3em !important;" ios="ios-heart-outline" md="md-heart-outline"></ion-icon>
         </button>
         <ion-badge danger *ngIf="contarcorazones">{{contarcorazones}}</ion-badge>
         <ion-badge danger *ngIf="!contarcorazones">0</ion-badge>
       </div>
     </ion-card-content>
   </ion-card>

   <ion-card style="margin: 0px 0px 3px 0px !important; width: calc(100% - 0px) !important;">
     <ion-card-content>
       <h2 style="text-align:center !important; color:black !important;">
         ESTADO
       </h2>
       <div style="text-align:center !important;">
         <p *ngIf="contacto.estado" style="font-size:1.3rem; color:#8A8A8A;">{{contacto.estado}}</p>
         <p *ngIf="!contacto.estado" style="font-size:1.3rem; color:#8A8A8A;">sin estado :)</p>
       </div>
     </ion-card-content>
   </ion-card>

   <ion-card style="margin: 0px 0px 3px 0px !important; width: calc(100% - 0px) !important;">
     <ion-card-content>
       <h2 style="text-align:center !important; color:black !important;">
         <m *ngIf="contacto.direccion || contacto.telefono || contacto.correo">DATOS PERSONALES</m>
         <m *ngIf="!contacto.direccion && !contacto.telefono && !contacto.correo">SIN DATOS PERSONALES</m>
       </h2>
       <ion-list>
         <ion-item *ngIf="contacto.direccion" (click)="goAddressMap(contacto)">
           <ion-icon primary ios="ios-woman" md="md-woman" item-left></ion-icon>
           <p style="color:#8A8A8A;">{{contacto.direccion}}</p>
           <ion-icon primary item-right ios="ios-woman" md="md-woman" ></ion-icon>
         </ion-item>
         <ion-item *ngIf="contacto.telefono">
           <ion-icon primary ios="ios-call" md="md-call" item-left></ion-icon>
           <p style="color:#8A8A8A;">{{contacto.telefono}}</p>
           <ion-icon primary item-right ios="ios-call" md="md-call"></ion-icon>
         </ion-item>
         <ion-item *ngIf="contacto.correo" (click)="goEmailContact(contacto)">
           <ion-icon primary ios="ios-mail" md="md-mail" item-left></ion-icon>
           <p style="color:#8A8A8A;">{{contacto.correo}}</p>
           <ion-icon primary item-right ios="ios-mail" md="md-mail"></ion-icon>
         </ion-item>
       </ion-list>
     </ion-card-content>
   </ion-card>
