.card {
  margin: 0px 0px 3px 0px !important;
  width: calc(100% - 0px) !important;
  height: 522px;
}

.btn {
  margin-top:482px;
  background-color: #f53d3d !important;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
